<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Editor</title>

    <link rel="apple-touch-icon" sizes="180x180" href="../public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../public/favicon-16x16.png">
    <link rel="manifest" href="../public/site.webmanifest">
    <link rel="mask-icon" href="../public//safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="../public/jquery-3.2.1.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="../public/bootstrap.min.js"></script>
    <script src="../public/raphael-2.1.4.min.js"></script>
    <script src="../public/justgage.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="../public/bootstrap.min.css">
</head>
<body>
<div id="header" class="row justify-content-center align-middle">
    <span id="compile-button-span" onclick="compileCode()">
        <span id="compile-text">Compile</span>
        <img id="compile-img" src="../public/glass.png" alt="compile button"/>
    </span>
</div>

<div id="content" class="row">
    <!-- input -->
    <div id="left" class="col-md-5 no-float">
        <div id="overlay">
            <button id="mode-toggle-button" onclick="toggleEditorMode()">Editor Mode: Default</button>
            <div class="dropdown" id="dropdown">
                <button class="btn btn-block btn-secondary dropdown-toggle" type="button" id="dropdown-menu-button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Programs
                </button>
                <div class="dropdown-menu scrollable-menu" aria-labelledby="dropdown-menu-button">
                </div>
            </div>
        </div>
        <pre id="editor"></pre>
    </div>
    <!-- output -->
    <div id="right" class="container col-md-7 no-float">
        <!-- Define tabs -->
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#tab-one" data-toggle="tab" class="active" id="tab-head-one">Log</a></li>
            <li class="nav-item"><a href="#tab-two" data-toggle="tab" id="tab-head-two">Lexer</a></li>
            <li class="nav-item"><a href="#tab-three" data-toggle="tab" id="tab-head-three">Parser</a></li>
            <li class="nav-item"><a href="#tab-four" data-toggle="tab" id="tab-head-four">Semantic Analyzer</a></li>
            <li class="nav-item"><a href="#tab-five" data-toggle="tab" id="tab-head-five">Machine Code</a></li>
        </ul>
        <!-- Tab Content -->
        <div class="tab-content clearfix">
            <div class="tab-pane fade in show active" id="tab-one">
                <pre id="log-text" class="log"></pre>
            </div>
            <div class="tab-pane fade" id="tab-two">
                <pre id="lexer-text" class="log"></pre>
            </div>
            <div class="tab-pane fade" id="tab-three">
                <pre id="parser-text" class="log"></pre>
            </div>
            <div class="tab-pane fade" id="tab-four">
                <pre id="semantic-text" class="log"></pre>
            </div>
			<div class="tab-pane fade " id="tab-five">
                <h1>Machine Code Goes here</h1>
                <div id="memory-gauge"></div>
            </div>
        </div>
    </div>
</div>
<script src="../public/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="index.js" type="text/javascript"></script>
</body>
</html>
