html, body {
    height:100%;
    overflow: hidden;
    background-color: #282a36 !important;
    font-family: "Lucida Console", Monaco, monospace !important;
}
.row {
    height: 100%;
}
.row .no-float {
    float:none;
}
#content {
    height:90%;
}
#header {
    height:10%;
}
#compile-button-span {
    color: #f8f8f2;
    opacity: 0.7;
    transition: all .2s ease-in-out;
}
#compile-text {
    transition: all .2s ease-in-out;
}
#compile-img {
    transition: all .2s ease-in-out;
}
#compile-button-span:hover {
    opacity: 1;
}
#compile-button-span:hover > *{
    -webkit-filter:drop-shadow(0px -2px 3px #ffb86a);
    filter:drop-shadow(0px -2px 3px #ffb86a);
}
#compile-img{
    z-index: 1000;
    width: 52px;
    height: 62px;
}
.compile-warning {
    color: rgb(243, 119, 33) !important;
}
.compile-error {
    color:  #FF5555 !important;
}
#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#mode-toggle-button {
    /*positioning*/
    z-index: 1000;
    position: relative;
    top:0;
    float:right;
    /*style*/
    background-color: transparent;
    border: 1px solid transparent;
    color:white;
    font-size: 12px;
}
#mode-toggle-button:hover {
    border: 1px solid;
    border-color: #bd93f9;
}

#right {
    background-color: #282a36;
    color: #f8f8f2;
    border-left: 1px solid #6272a4;
}
.log {
    color: #f8f8f2;
}
.nav-pills > li > a {
    color: #bd93f9;
    padding-left: 8px;
    padding-right: 8px;
    border-bottom: none;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.nav-pills > li > a:hover,
.nav-pills > li > a.active {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #6272a4;
}
.tab-content {
    height: calc(100% - 30px);
}
#tab-one, #tab-two {
    height: 100%;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #44475a;
}
::-webkit-scrollbar-thumb {
    background-color: #6272a4;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #bd93f9;
}
::-webkit-scrollbar-corner {
    background-color: #44475a;
}
